.taylux-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--taylux-radius);
}

.taylux-button--primary {
    background-color: var(--taylux-primary);
    color: white;
}

.taylux-button--medium {
    padding: 32px 16px;
}
